<section id="about" class="py-5">
  <div class="container">
    <h2 class="mb-4" data-aos="fade-up">Sobre Mí</h2>
    <div class="row">
      <div class="col-md-6" data-aos="fade-right">
        <img src="assets/images/about.jpg" alt="Sobre Mí" class="img-fluid rounded">
      </div>
      <div class="col-md-6" data-aos="fade-left">
        <p>
          Entusiasta de la informática y la inteligencia artificial, con habilidades en desarrollo de software, aprendizaje automático y resolución de problemas complejos. Apasionado por la innovación tecnológica y el análisis de datos, busco una oportunidad para aplicar y expandir mis conocimientos en proyectos de IA, automatización y desarrollo de software de vanguardia.        </p>
        <h3 class="mt-4">Habilidades Clave</h3>
        <ul>
          <li>Desarrollo Front-End: Angular, React, HTML5</li>
          <li>Desarrollo Back-End: Java, Python, PHP, JavaScript</li>
          <li>Diseño UX/UI y Prototipado</li>
          <li>Gestión de Proyectos y Metodologías Ágiles</li>
        </ul>
      </div>
    </div>
    <hr class="my-5">
    <h3 class="mb-4" data-aos="fade-up">Mi Trayectoria</h3>
    <div class="timeline" data-aos="fade-up">
      <ul>
        <li>
          <span class="date">2022</span>
          <div class="content">
            <h4>Inicio en la Programación</h4>
            <p>Descubrí mi pasión por la tecnología y empecé a aprender a programar.</p>
          </div>
        </li>
        <li>
          <span class="date">2023</span>
          <div class="content">
            <h4>Inicio de estudios</h4>
            <p>Comencé mis estudios de desarrollo de aplicaciones web y un master de IA y big data.</p>
          </div>
        </li>
        <li>
          <span class="date">2025</span>
          <div class="content">
            <h4>Finalización de estudios básicos</h4>
            <p>Terminé mis estudios como desarrollador de aplicaciones web y el master, el cual enfoqué al uso de inteligencia artificial para la prevención de enfermedades cardiovasculares.</p>
          </div>
        </li>
        <li>
          <span class="date">2025</span>
          <div class="content">
            <h4>Inicio de mi carrera universitaria</h4>
            <p>Inicio mis estudios universitarios, para convertirme en ingeniero de inteligencia artificial, y así poder especializarme más la rama a la que me quiero dedicar  .</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
