/* Hero Banner */
#hero {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* Sección de Introducción */
#intro h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Tarjetas de Proyectos */
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

/* Llamada a la Acción */
#cta h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
